@model YarraGo.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)*@
            @Html.Raw(Model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cruise.CruiseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    tinymce.init({
        selector: '#mytextarea'
    });
    </script>
}